{% extends 'base.html.twig' %}

{% block title %}Task index{% endblock %}

{% block body %}
    <h1>Task index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>DueBy</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for task in tasks %}
            <tr>
                <td>{{ task.id }}</td>
                <td>{{ task.created ? task.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.updated ? task.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ task.dueBy ? task.dueBy|date('Y-m-d H:i:s') : '' }}</td>
                <td>
                    <a href="{{ path('crm_task_show', {'id': task.id}) }}">show</a>
                    <a href="{{ path('crm_task_edit', {'id': task.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="5">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('crm_task_new') }}">Create new</a>
{% endblock %}
