{% extends 'base.html.twig' %}

{% block title %}Task{% endblock %}

{% block body %}
    <h1>Task</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ task.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ task.created ? task.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ task.updated ? task.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>DueBy</th>
                <td>{{ task.dueBy ? task.dueBy|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('crm_task_index') }}">back to list</a>

    <a href="{{ path('crm_task_edit', {'id': task.id}) }}">edit</a>

    {{ include('crm_task/_delete_form.html.twig') }}
{% endblock %}
