{% extends 'base.html.twig' %}

{% block title %}Quote index{% endblock %}

{% block body %}
    <h1>Quote index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>QuoteNumber</th>
                <th>QuoteLines</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for quote in quotes %}
            <tr>
                <td>{{ quote.id }}</td>
                <td>{{ quote.created ? quote.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quote.updated ? quote.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ quote.quoteNumber }}</td>
                <td>{{ quote.quoteLines }}</td>
                <td>
                    <a href="{{ path('crm_quote_show', {'id': quote.id}) }}">show</a>
                    <a href="{{ path('crm_quote_edit', {'id': quote.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('crm_quote_new') }}">Create new</a>
{% endblock %}
