{% extends 'base.html.twig' %}

{% block title %}Group index{% endblock %}

{% block body %}
    <h1>Group index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Type</th>
                <th>Id</th>
                <th>Created</th>
                <th>Updated</th>
                <th>Name</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for group in groups %}
            <tr>
                <td>{{ group.type }}</td>
                <td>{{ group.id }}</td>
                <td>{{ group.created ? group.created|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ group.updated ? group.updated|date('Y-m-d H:i:s') : '' }}</td>
                <td>{{ group.name }}</td>
                <td>
                    <a href="{{ path('group_show', {'id': group.id}) }}">show</a>
                    <a href="{{ path('group_edit', {'id': group.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('group_new') }}">Create new</a>
{% endblock %}
