{% extends 'base.html.twig' %}

{% block title %}Business{% endblock %}

{% block body %}
    <h1>Business</h1>

    <table class="table">
        <tbody>
            <tr>
                <th>Id</th>
                <td>{{ business.id }}</td>
            </tr>
            <tr>
                <th>Created</th>
                <td>{{ business.created ? business.created|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>Updated</th>
                <td>{{ business.updated ? business.updated|date('Y-m-d H:i:s') : '' }}</td>
            </tr>
            <tr>
                <th>BusinessNumber</th>
                <td>{{ business.businessNumber }}</td>
            </tr>
        </tbody>
    </table>

    <a href="{{ path('crm_business_index') }}">back to list</a>

    <a href="{{ path('crm_business_edit', {'id': business.id}) }}">edit</a>

    {{ include('crm_business/_delete_form.html.twig') }}
{% endblock %}
